<!DOCTYPE html>

<html>
    <head>
        <title>Delete List - To Do List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Are You Sure?</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Delete</button>
                </form>
            </div>
        </main>
    </body>
</html>
