<!DOCTYPE html>

<html>
    <head>
        <title>{{ list_detail.name }} - To Do List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ list_detail.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' id=list_detail.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' id=list_detail.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in list_detail.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' id=item.id %}">{{ item.task }}</a></td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
